<h3 class="title">Languages</h3>
<div class="rails" style="background-image: url(<%= asset_path 'rails.png' %>);"></div>
<div><i class="far fa-gem"><p class="language">Ruby</p></i></div>
<div><i class="fab fa-css3-alt"><p class="language">CSS</p></i></div>
<div><i class="fab fa-js-square"><p class="language">Javascript</p></i></div>
<div><i class="fab fa-html5"><p class="language">HTML5</p></i></div>
<p class="language">English</p>
<p class="language">French</p>
<p class="language">German B1</p>
<p class="language">Italian A2</p>
