<h3>Languages</h3>
<div class="rails" style="background-image: url(<%= asset_path 'rails.png' %>);"></div>
<div><i class="far fa-gem"><p>Ruby</p></i></div>
<div><i class="fab fa-css3-alt"><p>CSS</p></i></div>
<div><i class="fab fa-js-square"><p>Javascript</p></i></div>
<div><i class="fab fa-html5"><p>HTML5</p></i></div>
<p>English</p>
<p>French</p>
<p>German B1</p>
<p>Italian A2</p>
