// definevariables for your color scheme

// For example:
$red: #ee5f5b;
$blue: #469ae0;
$yellow: #f0c808;
$orange: #f4a259;
$green: #32b796;
$gray: #1d1f20;

$first: #0a1e2a;
$third: #3fb1ce;
$white: #fff;
$black: #000000;
