.landing {
  overflow: hidden;
}
.landing-container {
  display: flex;
  flex-direction: row;
  background-color: $white;
}

.landing-information {
  padding: 2% 0 0 0;
}

.landing-about {
  color: $green;
  font-weight: bolder;
  z-index: 10;
  h4 {
    padding: 10px;
  }
}

.media-links {
  font-size: 56px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  justify-items: right;
  margin: 2% 0 2% 75%;
  z-index: 10;
  a {
    text-decoration: none;
    color: $green;
  }
  a:hover {
    color: $white;
    -webkit-text-fill-color: $green;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: $gray;
  }
}
