* {
  margin: 0;
  padding: 0;
  border: 0;
}
body,
html {
  height: 100%;
}

.overlay_color {
  position: relative;
  min-height: 70%;
  width: 100%;
  background: $gray;
  text-align: center;
  z-index: 2;
  opacity: 1;
  &:hover {
    opacity: 0;
    transition: opacity 1.5s linear;
  }
}
.hidden-image {
  min-height: 75%;
  position: relative;
  top: -76%;
  background: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 0%,
      rgba(168, 168, 168, 0.8281513288909313) 100%
    )
    50% 50% no-repeat;
  background-size: cover;
  z-index: 0;
}
.intro {
  padding-top: 2%;
  h3 {
    padding: 10px 0;
  }
}
