#contact {
  height: 100vh;
}
.contact-info {
  text-align: center;
  margin: 0px 0 40px 0;
  h1,
  p {
    padding-bottom: 30px;
  }
}

.contact-box {
  width: 1170px;
  padding: 150px 40px;
  margin: 62px auto;
  position: relative;
  border: 36px solid $green;
  border-radius: 2px;
  background-color: $white;
}

.line-one,
.line-four {
  background-color: $green;
  height: 15px;
  width: 1370px;
  margin: auto auto;
  border-radius: 2px;
}
