#projects-background {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.project-background {
  position: absolute;
  width: 24.5%;
  height: 100%;
  background-image: linear-gradient($gray, $black);
  transform: skewY(21.6deg);
  transform-origin: -100px 40%;
  z-index: 1;
}
