#projects-background {
  position: relative;
  height: 110vh;
  overflow: hidden;
  z-index: 0;
}

.project-background {
  position: absolute;
  width: 27%;
  height: 100%;
  background-image: linear-gradient($gray, $black);
  transform: skewY(19deg);
  transform-origin: -173px 40%;
  z-index: 0;
  padding: 0;
}
