<h6>Why Learn to Code?</h6>
<p>So I can participate in creating efficient and user-friendly applications, with a focus on improving health and lifestyle. 
    Coding has power and the possibility to create macro and micro changes within a community;
     thus, my interests lay in the field of telehealth given my passion for health psychology and programming. </p>