<h6>Hi there,</h6>
<p>Here's a little blurb about me.</p>
<p>I pursued coding after completing my undergrade in psychology.
	During my time at McGill, I took COMP 102 and from that point on decided to pursue coding.
	Then enrolled and completed Le Wagon's fullstack program (batch #188) to cultivate and improve as a developer. 
</p>