<div class="circle"></div>
<div class="profile" style="background-image: url(<%= asset_path 'elizabeth.jpg' %>);"></div>
<div class="line"></div>
<%= link_to  "Projects", projects_path %>
<%= link_to  "About Me", about_path %>
<%= link_to  "Contact", contact_path %>
