<div class="circle"></div>
<div class="profile" style="background-image: url(<%= asset_path 'elizabeth.jpg' %>);"></div>
<div class="line"></div>
<div class="landing-nav-links">
    <h5><%= link_to  "Projects", projects_path %></h5>
    <h5><%= link_to  "About Me", about_path %></h5>
    <h5><%= link_to  "Contact", contact_path %></h5>
</div>

