<div class="scene">
  <h2 class="opening">Hello,</h2>
  <h2 class="name">I'm Elizabeth H. Creary.</h2>
  <div class="magic" style="background-image: url(<%= asset_path 'banner.png' %>);"></div>
</div>

 <%= javascript_pack_tag 'banner_landing' %> 

