<div class="landing-nav-links">
	<h5> <%= link_to  "Projects", root_path(:anchor => "projects-background")%></h5>
	<h5><%= link_to  "About Me", root_path(:anchor => "about") %></h5> 
	<h5><%= link_to  "Contact", root_path(:anchor => "contact") %></h5>
</div>