<div class="scene">
  <div class="introduction">
    <h3>Hello,</h3>
    <h3>I'm Elizabeth H. Creary.</h3>
  </div>
  <div class="magic" style="background-image: 
    linear-gradient(0deg, rgba(255,255,255, 0.3) 47%,
    rgba(29,31,32,0.5) 100%), 
    url(<%= asset_path 'banner.png' %>)">
  </div>
</div>

 <%= javascript_pack_tag 'banner_landing' %> 

 <%= javascript_pack_tag 'responsiveness' %> 
