<div class="slider-wrapper">
  <div class="slider">

    <input type="radio" name="slider" class="trigger" id="one" checked="checked" />
    <div class="slide">
      <figure class="slide-figure">
        <img class="slide-img" src="<%= asset_path 'travely.png' %>" />
        <figcaption class="slide-caption">
            <h6>Name</h6>
            <p>Travely</p>
            <h6>About</h6>
            <p></p>
            <h6>Redesigned Site</h6>
            <a href="https://travely-reimage.herokuapp.com/" target="_blank"> Travely Re-Imaged </a>
            <h6>Colour Pallet</h6>

            <h6>Original Site</h6>
            <a href="http://www.travely.club/" target="_blank"> www.travely.club </a>
        </figcaption>
      </figure><!-- .slide-figure -->
    </div><!-- .slide -->

    <input type="radio" name="slider" class="trigger" id="two" />
    <div class="slide">
      <figure class="slide-figure">
        <img class="slide-img" src="<%= asset_path 'bunker.png' %>" />
        <figcaption class="slide-caption">
        <h6>Name</h6>
        <p>Bunkers & Breakfast</p>
        <h6>About</h6>
        <p></p>
        <h6>Redesigned Site</h6>
        <a href="https://travely-reimage.herokuapp.com/" target="_blank"> Bunker-&-Breakfast Re-Imaged </a>
        <h6>Colour Pallet</h6>
        
        
        <h6>Origional Site</h6>
        <a href="https://bunker-n-breakfast.herokuapp.com/" target="_blank">https://bunker-n-breakfast.herokuapp.com/</a>
        </figcaption>
      </figure><!-- .slide-figure -->
    </div><!-- .slide -->
  </div><!-- .slider -->

  <ul class="slider-nav">
    <li class="slider-nav__item"><label class="slider-nav__label" for="one">1</label></li>
    <li class="slider-nav__item"><label class="slider-nav__label" for="two">2</label></li>
  </ul><!-- .slider-nav -->
</div><!-- .slider-wrapper -->