<div class="slider-wrapper">
  <div class="slider">
		<input type="radio" name="slider" class="trigger" id="one" checked="checked" />
    <div class="slide">
      <figure class="slide-figure">
        <img class="slide-img" src="<%= asset_path 'travely.png' %>"/>
				<figcaption class="slide-caption">
					<h5 class="caption">Name</h5>
					<p>Travely</p>
					<h5 class="caption hidden-xs">About</h5>
					<p class="hidden-xs"> With Travely, you are able to share and choose items based on your travel destination. 
						To view some of the items available, 
						add the following stops where the dates fall within the range: 
					</p>
					<ul class="hidden-xs">
						<li>copenhagen 2018,11,28 - 2018,12,31</li>
						<li>paris 2018,12,01 - 2018,12,31 </li>
						<li>amsterdam 2018,12,11 - 2019,01,05 </li>
						<li>barcelona 2018,12,19 - 2018,12,30</li>
					</ul>
					<p class="hidden-xs">I redsigned Travely after the bootcamp in December, 2018.</p>	
					<h5 class="caption">Redesigned Site</h5>
					<a href="https://travely-reimage.herokuapp.com/" target="_blank" class="website">https://travely-reimage.herokuapp.com/</a>
					<h5 class="caption">Colour Pallet</h5>
					<div class="colours">
						<div style="background-color: #0e0f12;">
						</div>
						<div style="background-color: #1e2749;">
						</div>
						<div style="background-color: #119da4;">
						</div>
						<div style="background-color: #f9f8f8;">
						</div>
					</div>
					<span class="caption original">Original Site: </span> <a href="http://www.travely.club/" target="_blank" class="website">www.travely.club</a>
				</figcaption>
      </figure><!-- .slide-figure -->
    </div><!-- .slide -->

    <input type="radio" name="slider" class="trigger" id="two" />
    <div class="slide">
      <figure class="slide-figure">
        <img class="slide-img" src="<%= asset_path 'bunker.png' %>"/>
        <figcaption class="slide-caption">
					<h5 class="caption">Name</h5>
					<p>Bunkers & Breakfast</p>
					<h5 class="caption hidden-xs">About</h5>
					<p class="hidden-xs">This playful app allows you to search, upload and book a bunker till the end of time.
					<br>
					<p class="hidden-xs">I redsigned Bunkers & Breakfast after the bootcamp in December, 2018.</p>
					<h5 class="caption">Redesigned Site</h5>
					<a href="https://travely-reimage.herokuapp.com/" target="_blank" class="website">https://travely-reimage.herokuapp.com/</a>
					<h5 class="caption">Colour Pallet</h5>
					<div class="colours">
						<div style="background-color: #000";></div>
						<div style="background-color: #0a1e2a";></div>
						<div style="background-color: #3fb1ce";></div>
						<div style="background-color: #f8f8f8";></div>
					</div>
					<span class="caption original">Original Site: </span><a href="https://bunker-n-breakfast.herokuapp.com/" target="_blank" class="website">https://bunker-n-breakfast.herokuapp.com/</a>
        </figcaption>
      </figure><!-- .slide-figure -->
    </div><!-- .slide -->
	</div><!-- .slider -->
</div><!-- .slider-wrapper -->