<div><%= render  "banner_landing" %></div>
<div class="landing">
    <div class="profile-section">
        <div class="circle"></div>
        <div class="profile" style="background-image: url(<%= asset_path 'elizabeth.jpg' %>);"></div>
    </div>
    <div class="info">
        <h5>A full-stack web developer.</h5>
        <h5>Graduate of Le Wagon Montreal and McGill University.</h5>
    </div>
    <div class="media-links">
        <a href="https://www.linkedin.com/in/elizabeth-creary-766b42131/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/whatTheDuck101" target="_blank"><i class="fab fa-github-square"></i></a>
    </div>
</div>



