<div id="projects-background">
  <div class="project-background"></div>
  <h1 class=title>Projects</h1>
    <div class="projects-information"><%= render  "project_information.html.erb" %></div>
</div>

<div id="about">sjskjdks</div>

<div id="contact"> 
    <br><br><br><br><br>
    <div class="line-one"></div> 
    <div class="line-two"></div> 
    <div class="contact-box">
        <div class="contact-info">
            <h1>Contact</h1>
            <p>Feel free to contact me through Linkedin, Github, and E-mail (eliz.creary@gmail.com). </p>
        </div>
        <div class="box"> 
            <%= render  "components/contact_links" %>
        </div>
    </div>
    <div class="line-four"></div> 
    <br><br>
</div>

