<%= render  "landing_banner" %>
<div class="landing">
    <div class="profile-section">
        <%= render  "landing_nav.html.erb" %>
    </div>
    <div class="info">
        <h4>A full-stack web developer.</h4>
        <h4>Graduate of Le Wagon Montreal and McGill University.</h4>
    </div>
    <div class="media-links">
        <a href="https://www.linkedin.com/in/elizabeth-creary-766b42131/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/whatTheDuck101" target="_blank"><i class="fab fa-github-square"></i></a>
    </div>
</div>



