<div id="projects-background">
  <div class="project-background"></div>
  <h1 class=title>Projects</h1>
    <div class="project-information"><%= render  "project_information.html.erb" %></div>

</div>



