@font-face {
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/Anders.ttf");
  font-family: test;
}
.scene {
  position: relative;
  height: 65vh;
  background: $gray;
  padding: 20rem;
  text-align: center;
}
h1 {
  position: relative;
  text-transform: uppercase;
  font-family: test;
  color: #fff;
  z-index: 10;
}
.magic {
  z-index: 2;
  position: absolute;
  top: calc(59% - 10rem);
  left: calc(48% - 10rem);
  width: 25rem;
  height: 25rem;
  background: linear-gradient(
      90deg,
      rgba(187, 187, 187, 0.6180672952774859) 100%,
      rgba(255, 255, 255, 1) 100%
    )
    50% 50% no-repeat fixed;
  background-size: cover;
  border-radius: 50%;
}
.name {
  z-index: 100;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-family: test;
}
