.scene {
  position: relative;
  height: 720px;
  // min-width: 100%;
  background: $gray;
  text-align: center;
}
.opening {
  position: relative;
  top: 17%;
  font-family: "Dancing Script", cursive;
  color: $white;
  z-index: 10;
}
.name {
  z-index: 10;
  position: absolute;
  top: 32%;
  left: 49%;
  transform: translateX(-50%);
  color: $white;
  font-family: "Dancing Script", cursive;
}

.magic {
  z-index: 5;
  position: absolute;
  top: calc(62% - 10rem);
  left: calc(46% - 10rem);
  width: 30rem;
  height: 30rem;
  background: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 0%,
      rgba(168, 168, 168, 0.8281513288909313) 100%
    )
    50% 50% no-repeat fixed;
  background-size: 100% 100%;
  border-radius: 50%;
}
