.landing-nav {
  z-index: 10;
  position: absolute;
  top: 717px;
  right: 15%;
}
.landing-nav-links {
  width: 418px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a {
    text-decoration: none;
    font-family: "Dancing Script", cursive;
    color: $green;
  }
  a:hover {
    background-color: $green;
    padding: 0.5em 1.4em;
    color: $white;
    border-radius: 5px 5px 0 0;
  }
}
