.languages {
  padding-left: 7%;
  padding-bottom: 5%;
  width: 15%;
  color: $gray;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  i {
    text-align: center;
    padding: 20px;
    font-size: 100px;
  }
  h3 {
    padding: 20px;
  }
}

.rails {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 130px;
  width: 100px;
  margin-bottom: 20px;
}

.icon {
  z-index: 10;
}

.language {
  font-size: 16px;
  font-family: "Barlow", cursive;
  z-index: 10;
  padding: 3px 0;
}
