// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.landing {
  display: flex;
  justify-content: space-evenly;
}
.profile-section {
  height: 570px;
  padding: 70px;
  position: absolute;
  top: 35vh;
  left: 5vh;
  z-index: 10;
}

.info {
  position: absolute;
  bottom: 20vh;
  left: 60vh;
  color: #75bba7;
  font-weight: bolder;
  z-index: 10;
  h5 {
    padding: 10px;
  }
}

.media-links {
  font-size: 56px;
  width: 15vh;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 8vh;
  z-index: 10;
  a {
    text-decoration: none;
    color: #75bba7;
  }
  a:hover {
    color: $gray;
  }
}
