// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.banner {
  height: 720px;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing {
  display: flex;
  justify-content: space-evenly;
  //   flex-direction: column;
}
.profile-section {
  //   background-color: $white;
  height: 570px;
  padding: 70px;
}

.circle {
  width: 420px;
  height: 420px;
  border: 10px solid black;
  border-radius: 50%;
  position: absolute;
}

.profile {
  width: 370px;
  height: 370px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 24px;
  left: 24px;
}
