@media (min-width: 1025px) {
}
@media (min-width: 768px) and (max-width: 1024px) {
  // about_background.scss
  #about {
    min-height: 81%;
    h2 {
      font-size: 7rem;
      left: 30%;
    }
  }
  .about-background {
    transform: skewY(-51.2deg);
  }
  // info.scss
  .about-info {
    padding: 25px 50px;
    left: 31%;
  }
  .about-why {
    padding: 25px 50px;
    left: 31%;
  }
  // languages.scss

  .languages {
    padding-left: 6%;
    width: 25%;
    i {
      font-size: 80px;
    }
  }
  .rails {
    height: 115px;
    width: 102px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  // about_background.scss
  #about {
    h2 {
      font-size: 7rem;
      left: 30%;
    }
  }
  .about-background {
    transform: skewY(-46.3deg);
  }
  // info.scss
  .about-info {
    left: 31%;
    padding: 30px 75px;
  }
  .about-why {
    left: 31%;
    padding: 30px 75px;
  }
  // languages.scss
  .languages {
    padding-left: 6%;
    width: 25%;
    i {
      font-size: 80px;
    }
  }
  .rails {
    height: 115px;
    width: 102px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  // about_background.scss
  #about {
    h2 {
      font-size: 5rem;
      bottom: 3%;
      left: 40%;
    }
  }
  .about-background {
    transform: skewY(-57.7deg);
  }
  // info.scss
  .about-info {
    top: 18%;
    left: 33%;
    padding: 30px 30px;
  }
  .about-why {
    left: 33%;
    top: 55%;
    padding: 30px 30px;
  }
  // languages.scss
  .languages {
    padding-left: 6%;
    width: 25%;
    h3 {
      font-size: 40px;
    }
    i {
      font-size: 70px;
      padding: 6px;
    }
  }
  .rails {
    height: 100px;
    width: 102px;
    margin-bottom: 5px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  // about_background.scss
  #about {
    h2 {
      font-size: 4rem;
      bottom: 3%;
      left: 12%;
    }
  }
  .about-background {
    background: $red;
    transform: skewY(-57.7deg);
  }
  // info.scss
  .about-info {
    border: none;
    width: 100%;
    top: 120px;
    left: 0;
    padding: 2px 39px;
  }
  .about-why {
    border: none;
    width: 100%;
    top: 392px;
    left: 0;
    padding: 2px 39px;
  }
  // languages.scss
  .languages {
    // padding-left: 8%;
    width: 100%;
    flex-wrap: wrap;
    justify-items: left;
    flex-direction: row;
    margin: 567px 0 25% 0;
    h3 {
      width: 100%;
      font-size: 80px;
      padding: 0px;
    }
    i {
      font-size: 55px;
      padding: 6px;
    }
    p {
      padding: 2% 2%;
    }
  }
  .rails {
    height: 80px;
    width: 70px;
    margin-bottom: 5px;
  }
}
